{% extends 'HeaderFooter.html' %}

{% block content %}

<!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

<div class="secondary_page_wrapper">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <div class="container_404">

                    <p class="not_found_404">404</p>

                    <p class="not_found">Page Not Found!</p>

                    <p>We're sorry, but we can't find the page you were looking for. It's probably some thing we've done wrong but now we know about it and we'll try to fix it. In the meantime, try one of these options:</p>

                    <a href="index.html" class="button_dark_grey middle_btn">Go to Homepage</a>

                    

                </div><!--/ .align_center -->

            </div><!--/ [col]-->

        </div><!--/ .row -->

    </div><!--/ .container-->

</div><!--/ .page_wrapper-->

<!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->


{% endblock %}