{% extends 'HeaderFooter.html' %}

{% block content %}

			<!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

			<div class="secondary_page_wrapper">

				<div class="container">

					<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

					<ul class="breadcrumbs">

						<li><a href="index.html">Home</a></li>
						<li>Wishlist</li>

					</ul>

					<!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

					<div class="row">

						<aside class="col-md-3 col-sm-4">

							<!-- - - - - - - - - - - - - - Information - - - - - - - - - - - - - - - - -->

							<section class="section_offset">

								<h3>My Account</h3>

								<ul class="theme_menu">

									<li><a href="#">Account Dashboard</a></li>
									<li><a href="#">Account Information</a></li>
									<li><a href="#">Address Book</a></li>
									<li><a href="#">My Orders</a></li>
									<li><a href="#">Billing Agreements</a></li>
									<li><a href="#">Recurring Profiles</a></li>
									<li><a href="#">My Product Reviews</a></li>
									<li><a href="#">My Tags</a></li>
									<li><a href="#">My Wishlist</a></li>
									<li><a href="#">My Applications</a></li>
									<li><a href="#">Newsletter Subscriptions</a></li>
									<li><a href="#">My Downloadable Products</a></li>

								</ul>

							</section><!--/ .section_offset -->

							<!-- - - - - - - - - - - - - - End of information - - - - - - - - - - - - - - - - -->

						</aside><!--/ [col]-->

						<section class="section_offset">

                                <h3>Tables</h3>
        
                                <div class="row">
        
                                    <div class="col-sm-6">
        
                                        <div class="table_wrap">
        
                                            <!-- - - - - - - - - - - - - - Table v1 - - - - - - - - - - - - - - - - -->
        
                                            <table class="table_type_1">
        
                                                <thead>
        
                                                    <tr>
                                                        <th></th>
                                                        <th>Shortened URL ID</th>
                                                        <th>Continent</th>
                                                        <th>State/Region</th>
                                                        <th>Country</th>
                                                        <th>City</th>
                                                        <th>Postal Code</th>
                                                        <th>Date Time</th>
                                                    </tr>
        
                                                </thead>
        
                                                <tbody>
        
                                                    <tr>
                                                        <td data-title="Heading 1">Item 1</td>
                                                        <td data-title="Heading 2">Nemo enim ipsam</td>
                                                        <td data-title="Heading 3">$5.99</td>
                                                    </tr>
        
                                                    <tr>
                                                        <td data-title="Heading 1">Item 2</td>
                                                        <td data-title="Heading 2">Voluptatem quia</td>
                                                        <td data-title="Heading 3">$5.99</td>
                                                    </tr>
        
                                                    <tr>
                                                        <td data-title="Heading 1">Item 3</td>
                                                        <td data-title="Heading 2">Sit aspernatur aut odit</td>
                                                        <td data-title="Heading 3">$5.99</td>
                                                    </tr>
        
                                                </tbody>
        
                                                <tfoot>
        
                                                    <tr>
                                                        <td>Total</td>
                                                        <td>Aut fugit sed quia</td>
                                                        <td>$5.99</td>
                                                    </tr>
        
                                                </tfoot>
        
                                            </table>
        
                                            <!-- - - - - - - - - - - - - - End of table v1 - - - - - - - - - - - - - - - - -->
        
                                        </div><!--/ .table_wrap -->
        
                                    </div><!--/ [col]-->
        
                                </div><!--/ .row -->
        
                            </section><!--/ .section_offset -->

					</div><!--/ .row-->

				</div><!--/ .container-->

			</div><!--/ .page_wrapper-->
			
			<!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->


{% endblock %}