{% extends 'HeaderFooter.html' %}

{% block content %}

<!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

<div class="secondary_page_wrapper">

    <div class="container">

        <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

        <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>My Account</li>

        </ul>

        <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

        <div class="row">

            <aside class="col-md-3 col-sm-4">

                <!-- - - - - - - - - - - - - - Information - - - - - - - - - - - - - - - - -->

                <section class="section_offset">

                    <h3>My Account</h3>

                    <ul class="theme_menu">

                        <li><a href="#">Account Dashboard</a></li>
									<li><a href="#">My Links</a></li>

                    </ul>

                </section><!--/ .section_offset -->

                <!-- - - - - - - - - - - - - - End of information - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                <div class="section_offset">

                    <a href="#" class="banner">
                        
                        <img src="images/banner_img_10.png" alt="">

                    </a>

                </div>

                <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

            </aside><!--/ [col]-->

            <main class="col-md-9 col-sm-8">

                    <style>
                            .col-md-9 {
                                width: 75%;
                            }
                            </style>

                <h1>My Dashboard</h1>

                <section class="theme_box">

                    <h4>Hello, {{request.session.user_name}}!</h4>

                    <p>From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.</p>

                </section><!--/ .theme_box -->

                <!-- - - - - - - - - - - - - - Contact information - - - - - - - - - - - - - - - - -->

                <section class="theme_box">

                    <h4>Contact Information</h4>

                    <p>{{request.session.user_name}}<br><a href="#" class="mail_to">{{email}}</a></p>

                    <div class="buttons_row">

                        <a href="#" class="button_grey middle_btn">Edit Account Information</a>

                        <a href="#" class="button_grey middle_btn">Change Password</a>

                    </div>

                </section><!--/ .theme_box -->

                <!-- - - - - - - - - - - - - - End of contact information - - - - - - - - - - - - - - - - -->

                <div class="table_layout">

                    <div class="table_row">
                        
                       

                    </div><!--/ .table_row -->

                </div><!--/ .table_layout -->

            </main><!--/ [col]-->

        </div><!--/ .row-->

    </div><!--/ .container-->

</div><!--/ .page_wrapper-->

<!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->


{% endblock %}