{% extends 'HeaderFooter.html' %}

{% block content %}

			<!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

			<div class="secondary_page_wrapper">

				<div class="container">

					<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

					<ul class="breadcrumbs">

						<li><a href="index.html">Home</a></li>
						<li>Wishlist</li>

					</ul>

					<!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

					<div class="row">

						<aside class="col-md-3 col-sm-4">

							<!-- - - - - - - - - - - - - - Information - - - - - - - - - - - - - - - - -->

							<section class="section_offset">

								<h3>My Account</h3>

								<ul class="theme_menu">

									<li><a href="#">Account Dashboard</a></li>
									<li><a href="#">Account Information</a></li>
									<li><a href="#">Address Book</a></li>
									<li><a href="#">My Orders</a></li>
									<li><a href="#">Billing Agreements</a></li>
									<li><a href="#">Recurring Profiles</a></li>
									<li><a href="#">My Product Reviews</a></li>
									<li><a href="#">My Tags</a></li>
									<li><a href="#">My Wishlist</a></li>
									<li><a href="#">My Applications</a></li>
									<li><a href="#">Newsletter Subscriptions</a></li>
									<li><a href="#">My Downloadable Products</a></li>

								</ul>

							</section><!--/ .section_offset -->

							<!-- - - - - - - - - - - - - - End of information - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

							<div class="section_offset">

								<a href="#" class="banner">
									
									<img src="images/banner_img_10.png" alt="">

								</a>

							</div>

							<!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

						</aside><!--/ [col]-->

						<main class="col-md-9 col-sm-8">

							<h1>My Links</h1>

							<header class="top_box on_the_sides">

								<div class="left_side v_centered">

									<p class="visible_pages">Showing 1 to 10 of 30 (3 pages)</p>

									<span>Show:</span> 

									<div class="custom_select">

										<select name="">

											<option value="10">10</option>
											<option value="9">9</option>
											<option value="8">8</option>
											<option value="7">7</option>
											<option value="6">6</option>
											<option value="5">5</option>
											<option value="4">4</option>
											<option value="3">3</option>
											<option value="2">2</option>
											<option value="1">1</option>

										</select>

									</div>

								</div>

								<div class="right_side">
								
									<ul class="pags">

										<li><a href="#"></a></li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#"></a></li>

									</ul>

								</div>

							</header><!--/ .top_box -->

							<div class="table_wrap">

								<table class="table_type_1 wishlist_table">
									 	
									<thead>
										
										<tr>
                                            
                                            <th class="product_title_col">Shortened URL</th>
											<th class="product_title_col">Original URL</th>
											<th class="product_title_col">Description</th>
											<th class="product_title_col">Action</th>

										</tr>

									</thead>

									<tbody>

                                        {% for data in user_data %}

										<tr>

                                                    <td data-title="Product Name and Category">
												
                                                            <a href="#" class="product_title">{{data.sh_url}}</a>
            
                                                        </td>

											<!-- - - - - - - - - - - - - - Product image - - - - - - - - - - - - - - - - -->
											
											<td data-title="Product Name and Category">
												
												<a href="#" class="product_title">{{data.org_url}}</a>

											</td>

											<!-- - - - - - - - - - - - - - End of product image - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Product name & category - - - - - - - - - - - - - - - - -->

											<td data-title="Product Name and Category">
												
												<a href="#" class="product_title">{{data.desc}}</a>

											</td>

											<!-- - - - - - - - - - - - - - End of product name & category - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
                                            <form action="/services/linkstats" method="POST">
                                                {% csrf_token %}
											<td data-title="Action">

												<ul class="buttons_col">
                                                        <input type="hidden" name="link_id" id="link_id" value="{{data.sh_url}}">
													<li>
														<button class="button_blue" name="btnform1">View Stats</button>
													</li>

													<li>
														<button class="button_dark_grey" name="btnform2">Remove</button>
													</li>

												</ul>

											</td>
                                        </form>
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</tr>
                                        
                                        {% endfor %}

									</tbody>

								</table>

							</div><!--/ .table_wrap -->

							<footer class="bottom_box on_the_sides">

								<div class="left_side v_centered">

									<p class="visible_pages">Showing 1 to 10 of 30 (3 pages)</p>

									<span>Show:</span> 

									<div class="custom_select">

										<select name="">

											<option value="10">10</option>
											<option value="9">9</option>
											<option value="8">8</option>
											<option value="7">7</option>
											<option value="6">6</option>
											<option value="5">5</option>
											<option value="4">4</option>
											<option value="3">3</option>
											<option value="2">2</option>
											<option value="1">1</option>

										</select>

									</div>

								</div>
								
								<div class="right_side">

									<ul class="pags">

										<li><a href="#"></a></li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#"></a></li>

									</ul>

								</div>

							</footer><!--/ .bottom_box -->

						</main><!--/ [col]-->

					</div><!--/ .row-->

				</div><!--/ .container-->

			</div><!--/ .page_wrapper-->
			
			<!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->


{% endblock %}